.custom-header{
    padding-top: 10px;
    text-align: center;
}
.custom-header p{
    font-weight: bold;
}
.custom-header a, li{
    text-decoration: none;
    color: slategray;
    text-transform: uppercase;
    list-style-type: none;
}
.custom-header a:hover{
    color: red;
}
.custom-menu{
    background: black;
    border-radius: 0;
    text-align: center;
}
.custom-logo img{
    width: 120px;
    height: 110px;
}
.custom-menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.test{
    color: white;
    padding: 10px 10px 10px 10px;
    border: 2px solid grey;
}
/* .custom-menu-active{
    border-bottom: 3px solid red;
} */
.slider-link{
    text-transform: uppercase;
    padding: 15px;
    color: white;
    background: red;
}
.item{
    width: 100%;
    height: 600px;
    background: rgba(167, 159, 159, 0.589);
}
.custom-h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.custom-service{
    background: rgba(167, 159, 159, 0.589);
    padding-bottom: 100px;

}
.service-block{
    background: white;
    text-align: center;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    padding-top: 10px;
    position: relative;
    padding-top: 200px;
    
}
.service-block img{
    width: 100px;
    height: 100px;
}
.service-block a{
    position: absolute;
    bottom: 10px;
    color:white;
    font-size: 20px;
    padding: 10px;
    background:red;
    border-radius: 2px;
}
.service-block h3{
    text-transform: uppercase;
}
.custom-benefits{
    text-align: center;
    padding-bottom: 50px;
}
.custom-benefits p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.google-map{
    background: rgba(167, 159, 159, 0.589); 
}
.gl-map{
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer{
    padding-top: 20px;
}
.footer a{
    text-decoration: none;
    color: slategray;
    text-transform: uppercase;
    
}
.footer a:hover{
    color: red;
}
.footer li{
    list-style-type: none;
    padding-bottom: 5px;
}
.footer label{
    text-transform: uppercase;
}
input[type="text"]{
    height: 2.1em;
    color: black;
    background: rgba(128, 128, 128, 0.103);
}
/* .custom-partners{
    background: rgba(167, 159, 159, 0.589);
} */
.custom-partners img{
    width: 200px;
    height: 200px;
}
.custom-partners{
    padding-top: 50px;
    padding-bottom: 100px;
}     
.add-partners{
   
    text-align: center;
    vertical-align: middle;
    margin-top: 140px;
}
.add-partners a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 30px 20px 30px 20px;
    border:2px solid red;
}
.add-partners a:hover{
    color:red;
}
.custom-news{
    background: rgba(167, 159, 159, 0.589); 
    padding-top: 50px;
    padding-bottom: 100px; 
}
.custom-news img{
width: 100%;
height: 200px;
text-align: center;

}
.block-news{
    background: white;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin-bottom: 20px;
    margin-right: 5px;
    padding: 5px;
}
.block-news a{
    color: rgba(128, 128, 128, 0.671);

}
.block-news a:hover{
    color: black;
}
.block-news h4{
    font-weight: bold;
}
.link-more{
text-align: center;
margin-top: 50px;
}
.link-more a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
.bg-map{
    background: url(/picture/bg-map.jpg);
    background-size: cover;
    
}
.contact-block{
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    background: white;
    border-radius: 1px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.contact-block span{
    font-weight: bold;
}
.custom-panel{
    margin-top: 10px;
}
.custom-service{
    background: rgba(167, 159, 159, 0.589); 
    padding-top: 50px;
    padding-bottom: 100px; 
}
.social img{
    width: 150px;
    height: 20px;
    
    padding-top:2px;
}
.descr_1{
    position: absolute;
    top: 0;
    right: 0;
    background: url(/picture/background-block-1.jpg);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.descr_2{
    position: absolute;
    top: 0;
    right: 0;
    background: url(/picture/background-block-2.jpg);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.descr_3{
    position: absolute;
    top: 0;
    right: 0;
    background: url(/picture/background-block-3.jpg);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.descr_4{
    position: absolute;
    top: 0;
    right: 0;
    background: url(/picture/background-block-4.jpg);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.service-block:hover .descr_1{
    opacity: 1;
    transition: 1s;
   
}
.service-block:hover .descr_2{
    opacity: 1;
    transition: 1s;
    transform: scale(1) 
}
.service-block:hover .descr_3{
    opacity: 1;
    transition: 1s;
    transform: scale(1) 
}
.service-block:hover .descr_4{
    opacity: 1;
    transition: 1s;
}

@media (max-width:1000px){
    .service-block{
        margin-bottom:10px;
    }
    .language{
        display: none;
    }
    .input-append{
        display: none;
}
    .social{
         display: none;
}
    .custom-logo{
    text-align: center;
}
}
@media (max-width:600px){
    .service-block{
        margin-bottom:10px;
        height: 200px;
        padding-top: 10px;
    }
    .service-block:hover .descr_1{
        background-image: url(/picture/logo-delpost.jpg);
        background-size:cover;
    }
    .service-block:hover .descr_2{
        background-image: url(/picture/logo-delpost.jpg);
        background-size:cover;
    }
    .service-block:hover .descr_3{
        background-image: url(/picture/logo-delpost.jpg);
        background-size:cover;
    }
    .service-block:hover .descr_4{
        background-image: url(/picture/logo-delpost.jpg);
        background-size:cover;
    }
    .service-block:hover .descr_1 a{
        color: white;
        background: red;
    }
    .custom-header div{
        margin-bottom: 5px;
    }
    .language{
        display: none;
    }
    .input-append{
        display: none;
    }
    .social{
        display: none;
    }
    .custom-logo{
        text-align: center;
    }
    .custom-partners{
        text-align: center;
    }

}
